.input-per{
  width: 60%!important;
  margin-right: 1rem!important;
}
.form-width{
  width: 100%;
}
.completed{
  background-color: rgba(51, 0, 255, 0.22)!important;
}
.completed:hover{
  background-color: rgba(51, 0, 255, 0.31)!important;
}
